# 1. Write a python program which searches all the product under a particular product from www.amazon.in. The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for guitars.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\anand\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\anand\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\anand\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\anand\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\anand\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\anand\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\anand\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\anand\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\anand\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\anand\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\anand\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\anand\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\anand\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\anand\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\anand\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\anand\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome()

In [6]:
product = input("Enter product to search on Amazon: ")
driver.get("https://www.amazon.in")
search_box = driver.find_element(By.ID, "twotabsearchtextbox")
search_box.send_keys(product)
search_button = driver.find_element(By.ID, "nav-search-submit-button")
search_button.click()

Enter product to search on Amazon:  guitar

# 2. In the above question, now scrape the following details of each product listed in first 3 pages of your search results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then scrape all the products available under that product name. Details to be scraped are: "Brand Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and “Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [47]:
from selenium import webdriver
import time 
from selenium.common.exceptions import NoSuchElementException # importing exception
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [48]:
driver=webdriver.Chrome()

In [49]:
driver.get("https://www.amazon.in")

In [50]:
product_name=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product_name.send_keys('guitar Best seller')

In [51]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()
time.sleep(3)

In [52]:
# scrape all product urls
product_urls=[]
start=0
end=3
for page in range(start,end): # for loop for scrapping 3 page
    url=driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
    for i in url:
        product_urls.append(i.get_attribute('href'))
    nxt_button=driver.find_element(By.XPATH,'//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]') 
    nxt_button.click()
    time.sleep(2)

In [53]:
len(product_urls)

185

In [54]:
import pandas as pd
df=pd.DataFrame({'product_urls':product_urls})
df

                                          product_urls
0    https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1    https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2    https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
3    https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
4    https://www.amazon.in/Juarez-Acoustic-Cutaway-...
..                                                 ...
180  https://www.amazon.in/Cort-AD880CE-Cutaway-Aco...
181  https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
182  https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
183  https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
184  https://www.amazon.in/sspa/click?ie=UTF8&spc=M...

[185 rows x 1 columns]

In [55]:
Name_of_the_Product=[]
Price=[]
Return_Exchange=[]
Expected_Delivery=[]
Availability=[]

In [56]:
for url in product_urls:
    driver.get(url)
    time.sleep(2)
    try:
        name_of_the_Product=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[5]/div[3]/div[4]/div[1]/div/h1/span')
        Name_of_the_Product.append(name_of_the_Product.text)
    except NoSuchElementException:
        Name_of_the_Product.append('-')
    try:
        price=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[5]/div[3]/div[4]/div[13]/div/div/div[4]/div[1]/span[3]')
        Price.append(price.text)
    except NoSuchElementException:
        Price.append('-')
    try:
        return_exchange=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[5]/div[3]/div[4]/div[24]/div[2]/div/div/div/div[2]/div/ol/li[3]/div/span/div[2]/span')
        Return_Exchange.append(return_exchange.text)
    except NoSuchElementException:
        Return_Exchange.append('-')    
    try:
        expected_delivery=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[5]/div[3]/div[1]/div[3]/div/div[1]/div/div/div/form/div/div/div/div/div[4]/div/div[3]/div[10]/div[1]/div/div/div/span/span[1]')
        Expected_Delivery.append(expected_delivery.text)
    except NoSuchElementException:
        Expected_Delivery.append('-')
    try:
        availability=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[5]/div[3]/div[1]/div[3]/div/div[1]/div/div/div/form/div/div/div/div/div[4]/div/div[5]/div/div[1]/span')
        Availability.append(availability.text)
    except NoSuchElementException:
        Availability.append('-')

In [57]:
print(len(Name_of_the_Product),len(Price),len(Return_Exchange),len(Expected_Delivery),len(Availability),len(product_urls))

185 185 185 185 185 185

In [59]:
import pandas as pd
df=pd.DataFrame({'name_of_the product':Name_of_the_Product,'price':Price,'return_exchange':Return_Exchange,'expected_delivery':Expected_Delivery,'availability':Availability,'product_urls':product_urls})
df

,name_of_the product,price,return_exchange,expected_delivery,availability,product_urls
0,Kadence Frontier guitar with Online Guitar lea...,"₹4,499",7 days Replacement,"Monday, 26 February",In stock,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1,Henrix 38C 38 Inch Cutaway Acoustic Guitar Wit...,"₹3,099",7 days Replacement,"Monday, 26 February",In stock,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2,"Kadence rosewood Guitar Frontier Series, Elect...","₹5,499",7 days Replacement,"Sunday, 25 February",In stock,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
3,Cort AF500C Standard Series Open Pore Cutaway ...,"₹7,999",7 days Replacement,"Sunday, 25 February",In stock,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
4,"Juârez Acoustic Guitar, 38 Inch Cutaway, 038C ...","₹2,199",7 days Replacement,"Monday, 26 February",In stock,https://www.amazon.in/Juarez-Acoustic-Cutaway-...
...,...,...,...,...,...,...
180,Cort AD880CE Cutaway Electro Acoustic Guitar w...,"₹16,999",7 days Returnable,"Monday, 26 February",Only 1 left in stock.,https://www.amazon.in/Cort-AD880CE-Cutaway-Aco...
181,"BLUEBERRY B-40, Acoustic Guitar Kit Inbuilt Tr...","₹4,590",7 days Replacement,"Wednesday, 28 February",In stock,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
182,"Acoustic Guitar, 39 Inch Cutaway, 039C with Ba...","₹4,996",-,"Tuesday, 27 February",Only 1 left in stock.,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
183,"BLUEBERRY B-40, Acoustic Guitar Kit Inbuilt Tr...","₹4,590",7 days Replacement,"Wednesday, 28 February",In stock,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
184,PS Signature 41Inch Pine Wood Acoustic Guitar ...,"₹3,899",-,"Wednesday, 28 February",Only 1 left in stock.,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...

# 3. Write a python program to access the search bar and search button on images.google.com and scrape 10 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [57]:
from selenium import webdriver
import time 
from selenium.common.exceptions import NoSuchElementException # importing exception
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [58]:
driver=webdriver.Chrome()

In [59]:
driver.get("https://www.google.in")

In [60]:

images=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/textarea")
images.send_keys('cakes')

In [62]:
for _ in range(20):
    driver.execute_script("window.scrollBy(0,500)")
images=driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')   
img_urls=[]
for image in images:
    source=image.get_attribute('src')
    if source is not None:
        if(source[0:4]=='http'):
            img_urls.append(source)

In [68]:
len(img_urls)

9

In [69]:
import pandas as pd
df=pd.DataFrame({'img_urls':img_urls})
df

                                            img_urls
0  https://encrypted-tbn0.gstatic.com/images?q=tb...
1  https://encrypted-tbn0.gstatic.com/images?q=tb...
2  https://encrypted-tbn0.gstatic.com/images?q=tb...
3  https://encrypted-tbn0.gstatic.com/images?q=tb...
4  https://encrypted-tbn0.gstatic.com/images?q=tb...
5  https://encrypted-tbn0.gstatic.com/images?q=tb...
6  https://encrypted-tbn0.gstatic.com/images?q=tb...
7  https://encrypted-tbn0.gstatic.com/images?q=tb...
8  https://encrypted-tbn0.gstatic.com/images?q=tb...

In [70]:
for i in range(len(img_urls)):
    if i >10:
        breakBy.XPATH,
    print("Downloading {0} of {1} images".format(i,10))

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images

# 4. Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, “Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the details is missing then replace it by “- “. Save your results in a dataframe and CSV

In [82]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [83]:
driver=webdriver.Chrome()

In [84]:
driver.get("https://www.flipkart.com/")

In [85]:
product_names=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
product_names.send_keys('Oneplus Nord, pixel 4A')

In [86]:
searchs=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
searchs.click()
time.sleep(3)

In [87]:
# scrape all product urls
product_urlss=[]
start=0
end=1
for page in range(start,end): # for loop for scrapping 3 page
    urls=driver.find_elements(By.XPATH,'//a[@class="_1fQZEK"]')
    for i in urls:
        product_urlss.append(i.get_attribute('href'))
    time.sleep(2)

In [88]:
len(product_urlss)

9

In [89]:
import pandas as pd
df=pd.DataFrame({'product_urlss':product_urlss})
df

                                       product_urlss
0  https://www.flipkart.com/oneplus-nord-ce-2-5g-...
1  https://www.flipkart.com/oneplus-nord-ce-2-5g-...
2  https://www.flipkart.com/oneplus-nord-gray-ony...
3  https://www.flipkart.com/oneplus-nord-blue-mar...
4  https://www.flipkart.com/oneplus-nord-blue-mar...
5  https://www.flipkart.com/oneplus-nord-gray-ony...
6  https://www.flipkart.com/oneplus-nord-blue-mar...
7  https://www.flipkart.com/oneplus-nord-gray-ony...
8  https://www.flipkart.com/oneplus-nord-ce-2-5g-...

In [90]:
Brand_Names=[]
Smartphone_name=[]
Colour=[] 
RAM=[] 
Storage_ROM=[] 
Primary_Camera=[]
Secondary_Camera=[] 
Display_Size=[] 
Battery_Capacity=[] 
Price=[]

In [91]:
for urls in product_urlss:
    driver.get(urls)
    time.sleep(2)
    try:
        brand_names=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/h1/span')
        Brand_Names.append(brand_names.text)
    except NoSuchElementException:
        Brand_Names.append('-')
    try:
        smart_phone_name=driver.find_element(By.XPATH,'//span[@class="B_NuCI"]')
        Smartphone_name.append(smart_phone_name.text)
    except NoSuchElementException:
        Smartphone_name.append('-')
    try:
        color=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[7]/div/div/div[4]/div/div[2]/div[1]/div[1]/table/tbody/tr[4]/td[2]/ul/li')
        Colour.append(color.text)
    except NoSuchElementException:
        Colour.append('-')    
    try:
        ram=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[6]/div[1]/div/div[2]/ul/li[1]')
        RAM.append(ram.text)
    except NoSuchElementException:
        RAM.append('-')
    try:
        storage_rom=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[6]/div[1]/div/div[2]/ul/li[1]')
        Storage_ROM.append(storage_rom.text)
    except NoSuchElementException:
        Storage_ROM.append('-')
    try:
        primary_camera=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[6]/div[1]/div/div[2]/ul/li[3]')
        Primary_Camera.append(primary_camera.text)
    except NoSuchElementException:
        Primary_Camera.append('-')  
    try:
        secondary_camera=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[6]/div[1]/div/div[2]/ul/li[3]')
        Secondary_Camera.append(secondary_camera.text)
    except NoSuchElementException:
        Secondary_Camera.append('-') 
    try:
        display_size=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[6]/div[1]/div/div[2]/ul/li[2]')
        Display_Size.append(display_size.text)
    except NoSuchElementException:
        Display_Size.append('-')    
    try:
        battery_capacity=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[6]/div[1]/div/div[2]/ul/li[4]')
        Battery_Capacity.append(battery_capacity.text)
    except NoSuchElementException:
        Battery_Capacity.append('-')        
    try:
        price=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div[3]/div[1]/div/div')
        Price.append(price.text)
    except NoSuchElementException:
        Price.append('-')

In [92]:
print(len(Brand_Names),len(Smartphone_name),len(Colour),len(RAM),len(Storage_ROM),len(Primary_Camera),len(Secondary_Camera),len(Display_Size),len(Battery_Capacity),len(Price),len(product_urlss))

9 9 9 9 9 9 9 9 9 9 9

In [93]:
import pandas as pd
df=pd.DataFrame({'brand_name':Brand_Names,'smart_phone_name':Smartphone_name,'colour':Colour,'Ram':RAM,'storage_rom':Storage_ROM,'Primary_camera':Primary_Camera,'Secondary_camera':Secondary_Camera,'display_size':Display_Size,'battery_capacity':Battery_Capacity,'price':Price,'product_urls':product_urlss})
df

,brand_name,smart_phone_name,colour,Ram,storage_rom,Primary_camera,Secondary_camera,display_size,battery_capacity,price,product_urls
0,"OnePlus Nord CE 2 5G (Bahama Blue, 128 GB) (8...","OnePlus Nord CE 2 5G (Bahama Blue, 128 GB) (8...",-,8 GB RAM | 128 GB ROM,8 GB RAM | 128 GB ROM,64MP Rear Camera,64MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,-,https://www.flipkart.com/oneplus-nord-ce-2-5g-...
1,"OnePlus Nord CE 2 5G (Gray Mirror, 128 GB) (8...","OnePlus Nord CE 2 5G (Gray Mirror, 128 GB) (8...",-,-,-,-,-,-,-,"₹24,999",https://www.flipkart.com/oneplus-nord-ce-2-5g-...
2,"OnePlus Nord (Gray Onyx, 64 GB) (6 GB RAM)","OnePlus Nord (Gray Onyx, 64 GB) (6 GB RAM)",Gray Onyx,6 GB RAM | 64 GB ROM,6 GB RAM | 64 GB ROM,48MP + 8MP | 32MP + 8MP Dual Front Camera,48MP + 8MP | 32MP + 8MP Dual Front Camera,16.36 cm (6.44 inch) Full HD+ Display,4115 mAh Battery,-,https://www.flipkart.com/oneplus-nord-gray-ony...
3,"OnePlus Nord (Blue Marble, 128 GB) (8 GB RAM)","OnePlus Nord (Blue Marble, 128 GB) (8 GB RAM)",Blue Marble,8 GB RAM | 128 GB ROM,8 GB RAM | 128 GB ROM,48MP + 8MP | 32MP + 8MP Dual Front Camera,48MP + 8MP | 32MP + 8MP Dual Front Camera,16.36 cm (6.44 inch) Full HD+ Display,4115 mAh Battery,"₹24,790",https://www.flipkart.com/oneplus-nord-blue-mar...
4,"OnePlus Nord (Blue Marble, 64 GB) (6 GB RAM)","OnePlus Nord (Blue Marble, 64 GB) (6 GB RAM)",Blue Marble,6 GB RAM | 64 GB ROM,6 GB RAM | 64 GB ROM,48MP + 8MP | 32MP + 8MP Dual Front Camera,48MP + 8MP | 32MP + 8MP Dual Front Camera,16.36 cm (6.44 inch) Full HD+ Display,4115 mAh Battery,-,https://www.flipkart.com/oneplus-nord-blue-mar...
5,"OnePlus Nord (Gray Onyx, 256 GB) (12 GB RAM)","OnePlus Nord (Gray Onyx, 256 GB) (12 GB RAM)",Gray Onyx,12 GB RAM | 256 GB ROM,12 GB RAM | 256 GB ROM,48MP + 8MP | 32MP + 8MP Dual Front Camera,48MP + 8MP | 32MP + 8MP Dual Front Camera,16.36 cm (6.44 inch) Full HD+ Display,4115 mAh Battery,-,https://www.flipkart.com/oneplus-nord-gray-ony...
6,"OnePlus Nord (Blue Marble, 256 GB) (12 GB RAM)","OnePlus Nord (Blue Marble, 256 GB) (12 GB RAM)",Blue Marble,12 GB RAM | 256 GB ROM,12 GB RAM | 256 GB ROM,48MP + 8MP | 32MP + 8MP Dual Front Camera,48MP + 8MP | 32MP + 8MP Dual Front Camera,16.36 cm (6.44 inch) Full HD+ Display,4115 mAh Battery,-,https://www.flipkart.com/oneplus-nord-blue-mar...
7,"OnePlus Nord (Gray Onyx, 128 GB) (8 GB RAM)","OnePlus Nord (Gray Onyx, 128 GB) (8 GB RAM)",Gray Onyx,8 GB RAM | 128 GB ROM,8 GB RAM | 128 GB ROM,48MP + 8MP | 32MP + 8MP Dual Front Camera,48MP + 8MP | 32MP + 8MP Dual Front Camera,16.36 cm (6.44 inch) Full HD+ Display,4115 mAh Battery,-,https://www.flipkart.com/oneplus-nord-gray-ony...
8,"OnePlus Nord CE 2 5G (Gray Mirror, 128 GB) (6...","OnePlus Nord CE 2 5G (Gray Mirror, 128 GB) (6...",Gray Mirror,6 GB RAM | 128 GB ROM,6 GB RAM | 128 GB ROM,64MP Rear Camera | 16MP Front Camera,64MP Rear Camera | 16MP Front Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹19,999",https://www.flipkart.com/oneplus-nord-ce-2-5g-...

# 5. Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps.

In [119]:
from selenium import webdriver
import time 
from selenium.common.exceptions import NoSuchElementException # importing exception
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import re

In [109]:
driver=webdriver.Chrome()

In [120]:
driver.get("https://maps.google.com/")

In [121]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[8]/div[3]/div[1]/div[1]/div/div[2]/form/input")
location.send_keys('hyderabad')

In [122]:
searchs=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[8]/div[3]/div[1]/div[1]/div/div[2]/div[1]/button/span")
searchs.click()
time.sleep(3)

In [123]:
url = "https://www.google.com/maps/place/Hyderabad,+Telangana/@17.4127332,78.0783482,10z/data=!3m1!4b1!4m6!3m5!1s0x3bcb99daeaebd2c7:0xae93b78392bafbc2!8m2!3d17.406498!4d78.4772439!16zL20vMDljNnc?entry=ttu"

# Extract latitude and longitude values using regular expressions
match = re.search(r'@(-?\d+\.\d+),(-?\d+\.\d+)', url)
latitude = match.group(1)
longitude = match.group(2)

print("Latitude:", latitude)
print("Longitude:", longitude)

Latitude: 17.4127332
Longitude: 78.0783482

# 6. Write a program to scrap all the available details of best gaming laptops from digit.in.

In [21]:
from selenium import webdriver
import time 
from selenium.common.exceptions import NoSuchElementException # importing exception
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [22]:
driver=webdriver.Chrome()

In [23]:
driver.get("https://www.digit.in/")

In [26]:
# scrape all product urls
product_urls=[]
start=0
end=2
for page in range(start,end): 
    url=driver.find_elements(By.XPATH,'//h3[@class="font130 mt0 mb10 mobilesblockdisplay "]//a[1]')
    for i in url:
        product_urls.append(i.get_attribute('href'))
    time.sleep(2)

In [27]:
len(product_urls)

8

In [28]:
import pandas as pd
df=pd.DataFrame({'product_urls':product_urls})
df

                                        product_urls
0  https://www.digit.in/laptops/lenovo-ideapad-ga...
1  https://www.digit.in/laptops/dell-new-g15-5515...
2  https://www.digit.in/laptops/hp-pavilion-gamin...
3  https://www.digit.in/laptops/lenovo-ideapad-ga...
4  https://www.digit.in/laptops/lenovo-ideapad-ga...
5  https://www.digit.in/laptops/dell-new-g15-5515...
6  https://www.digit.in/laptops/hp-pavilion-gamin...
7  https://www.digit.in/laptops/lenovo-ideapad-ga...

In [29]:
Laptop_name=[]
Operating_system=[]
Processor_model_name=[]
Storage_drive_capacity=[]
Price=[]

In [30]:
for url in product_urls:
    driver.get(url)
    time.sleep(3)
    try:
        laptop_names=driver.find_element(By.XPATH,'/html/body/div[2]/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[1]/h1')
        Laptop_name.append(laptop_names.text)
    except NoSuchElementException:
        Laptop_name.append('-')
    try:
        operating_system=driver.find_element(By.XPATH,'/html/body/div[2]/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[4]/div[3]/div/div/ul/li[1]/div/p[2]/strong')
        Operating_system.append(operating_system.text)
    except NoSuchElementException:
        Operating_system.append('-')
    try:
        processor_model_name=driver.find_element(By.XPATH,'/html/body/div[2]/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[4]/div[3]/div/div/ul/li[2]/div/p[2]/strong')
        Processor_model_name.append(processor_model_name.text)
    except NoSuchElementException:
        Processor_model_name.append('-')    
    try:
        rom=driver.find_element(By.XPATH,'/html/body/div[2]/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[4]/div[3]/div/div/ul/li[3]/div/p[2]/strong')
        Storage_drive_capacity.append(rom.text)
    except NoSuchElementException:
        Storage_drive_capacity.append('-')
    try:
        price=driver.find_element(By.XPATH,'//div[@class="cegg-price-row"]//div[1]')
        Price.append(price.text)
    except NoSuchElementException:
        Price.append('-')

In [31]:
print(len(Laptop_name),len(Operating_system),len(Processor_model_name),len(Storage_drive_capacity),len(Price),len(product_urls))

8 8 8 8 8 8

In [32]:
import pandas as pd
df=pd.DataFrame({'laptop_name':Laptop_name,'Operating_system':Operating_system,'processor_model':Processor_model_name,'Rom':Storage_drive_capacity,'price':Price,'product_urls':product_urls})
df

,laptop_name,Operating_system,processor_model,Rom,price,product_urls
0,Lenovo IdeaPad Gaming 3 82K200X3IN Ryzen 7-580...,Windows 11 Home,5th Gen AMD Ryzen 7-5800,512 GB,"Rs. 84,990",https://www.digit.in/laptops/lenovo-ideapad-ga...
1,Dell New G15-5515 D560805WIN9W Ryzen 5-5600H (...,Windows 10,AMD Ryzen 5-5600H,512 GB,"Rs. 78,490",https://www.digit.in/laptops/dell-new-g15-5515...
2,HP Pavilion Gaming 15-Ec2145AX Ryzen 5-5600H (...,Windows 11 Home,AMD Ryzen 5 5600H,512 GB,out of stock,https://www.digit.in/laptops/hp-pavilion-gamin...
3,-,-,-,-,-,https://www.digit.in/laptops/lenovo-ideapad-ga...
4,Lenovo IdeaPad Gaming 3 82K200X3IN Ryzen 7-580...,Windows 11 Home,5th Gen AMD Ryzen 7-5800,512 GB,"Rs. 84,990",https://www.digit.in/laptops/lenovo-ideapad-ga...
5,Dell New G15-5515 D560805WIN9W Ryzen 5-5600H (...,Windows 10,AMD Ryzen 5-5600H,512 GB,"Rs. 78,490",https://www.digit.in/laptops/dell-new-g15-5515...
6,HP Pavilion Gaming 15-Ec2145AX Ryzen 5-5600H (...,Windows 11 Home,AMD Ryzen 5 5600H,512 GB,out of stock,https://www.digit.in/laptops/hp-pavilion-gamin...
7,-,-,-,-,-,https://www.digit.in/laptops/lenovo-ideapad-ga...

# 7. Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [60]:
from selenium import webdriver
import time 
from selenium.common.exceptions import NoSuchElementException # importing exception
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [61]:
driver=webdriver.Chrome()

In [62]:
driver.get("https://www.forbes.com/billionaires/")

In [109]:
Rank=[]
Name=[] 
Net_worth=[] 
Age=[] 
Source=[] 
Industry=[]

In [116]:
Rank_tags=driver.find_elements(By.XPATH,'//div[@class="Table_rank___YBhk Table_dataCell__2QCve"]')
for i in Rank_tags:
    titles=i.text
    Rank.append(titles)
networth=driver.find_elements(By.XPATH,'//div[@class="Table_netWorth___L4R5 Table_dataCell__2QCve"]')
for i in networth:
    worth=i.text
    Net_worth.append(worth)
source_tags=driver.find_elements(By.XPATH,'//div[@class="Table_dataCell__2QCve"]//span')
for i in source_tags:
    source=i.text
    Source.append(source)

In [112]:
Name_tags=driver.find_elements(By.XPATH,'//div[@class="Table_dataCell__2QCve"]')
for i in Name_tags:
    name=i.text
    Name.append(name)
age_tags=driver.find_elements(By.XPATH,'//div[@class="Table_dataCell__2QCve"]')
for i in age_tags:
    age=i.text
    Age.append(age)
industry_tags=driver.find_elements(By.XPATH,'//div[@class="Table_dataCell__2QCve"]')
for i in industry_tags:
    industry=i.text
    Industry.append(industry)

In [117]:
print(len(Rank),len(Name),len(Net_worth),len(Age),len(Industry),len(Source))

800 800 800 800 800 800

In [119]:
import pandas as pd
df=pd.DataFrame({'rank': Rank,'name':Name,'net_worth':Net_worth,'age':Age,'industry':Industry,'source':Source})
df

,rank,name,net_worth,age,industry,source
0,1,Bernard Arnault & family,$211 B,Bernard Arnault & family,Bernard Arnault & family,LVMH
1,2,74,$180 B,74,74,"Tesla, SpaceX"
2,3,LVMH,$114 B,LVMH,LVMH,Amazon
3,4,Fashion & Retail,$107 B,Fashion & Retail,Fashion & Retail,Oracle
4,5,Elon Musk,$106 B,Elon Musk,Elon Musk,Berkshire Hathaway
...,...,...,...,...,...,...
795,195,Food & Beverage,$9.6 B,Food & Beverage,Food & Beverage,Solar panels
796,195,Valerie Mars,$9.6 B,Valerie Mars,Valerie Mars,Chemicals
797,195,64,$9.6 B,64,64,"Candy, pet food"
798,195,"Candy, pet food",$9.6 B,"Candy, pet food","Candy, pet food","Candy, pet food"
799,195,Food & Beverage,$9.6 B,Food & Beverage,Food & Beverage,"Candy, pet food"

# 8. Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted from any YouTube Video

In [120]:
from selenium import webdriver
import time 
from selenium.common.exceptions import NoSuchElementException # importing exception
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [121]:
driver=webdriver.Chrome()

In [122]:
driver.get("https://www.youtube.com/watch?v=Y9253_M38Xk")

In [130]:
comment=[]
time_comment=[]

In [131]:
comment_tags=driver.find_elements(By.XPATH,'//div[@class="style-scope ytd-expander"]')
for i in comment_tags:
    tags=i.text
    comment.append(tags)
time_tags=driver.find_elements(By.XPATH,'//a[@class="yt-simple-endpoint style-scope yt-formatted-string"]')
for i in time_tags:
    time=i.text
    time_comment.append(time)

In [132]:
print(len(comment),len(time_comment))

501 501

In [133]:
import pandas as pd
df=pd.DataFrame({'comment':comment,'time_comment':time_comment})
df

,comment,time_comment
0,,Dhruv Rathee
1,KukuFM Download Link - https://kukufm.sng.link...,17 hours ago
2,This is one of the most informative and eye-op...,https://kukufm.sng.link/Apksi/1ocn/9n2s
3,Amazing video! We want more educated people li...,1 hour ago
4,Jo aaj ki government ka haal. Aise halato mai ...,36 minutes ago
...,...,...
496,,20 minutes ago
497,Dhruv rathi sir & Vijeta dahiya sir both are ...,1 hour ago
498,The editing team is just fire,1 hour ago
499,Good work,19 minutes ago
500,I had been waiting for this video for a long t...,1 hour ago

# 9. Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms from price, facilities and property description.

In [134]:
from selenium import webdriver
import time 
from selenium.common.exceptions import NoSuchElementException # importing exception
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [140]:
driver=webdriver.Chrome()

In [141]:
driver.get("https://www.hostelworld.com/")

In [143]:
hotel_name=driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[2]/div[2]/div[2]/div/div[2]/div/div/div[2]/div/div[1]/div/div[1]/div/div/div[2]/input")
hotel_name.send_keys('london')

In [158]:
# scrape all product urls
product_urls=[]
start=0
end=1
for page in range(start,end): 
    url=driver.find_elements(By.XPATH,'//div[@class="property-card"]/a')
    for i in url:
        product_urls.append(i.get_attribute('href'))
    time.sleep(2)

In [159]:
print(len(product_urls))

33

In [160]:
import pandas as pd
df=pd.DataFrame({'product_url':product_urls})
df

                                          product_url
0   https://www.hostelworld.com/pwa/hosteldetails....
1   https://www.hostelworld.com/pwa/hosteldetails....
2   https://www.hostelworld.com/pwa/hosteldetails....
3   https://www.hostelworld.com/pwa/hosteldetails....
4   https://www.hostelworld.com/pwa/hosteldetails....
5   https://www.hostelworld.com/pwa/hosteldetails....
6   https://www.hostelworld.com/pwa/hosteldetails....
7   https://www.hostelworld.com/pwa/hosteldetails....
8   https://www.hostelworld.com/pwa/hosteldetails....
9   https://www.hostelworld.com/pwa/hosteldetails....
10  https://www.hostelworld.com/pwa/hosteldetails....
11  https://www.hostelworld.com/pwa/hosteldetails....
12  https://www.hostelworld.com/pwa/hosteldetails....
13  https://www.hostelworld.com/pwa/hosteldetails....
14  https://www.hostelworld.com/pwa/hosteldetails....
15  https://www.hostelworld.com/pwa/hosteldetails....
16  https://www.hostelworld.com/pwa/hosteldetails....
17  https://www.hostelworld.com/pwa/hosteldetails....
18  https://www.hostelworld.com/pwa/hosteldetails....
19  https://www.hostelworld.com/pwa/hosteldetails....
20  https://www.hostelworld.com/pwa/hosteldetails....
21  https://www.hostelworld.com/pwa/hosteldetails....
22  https://www.hostelworld.com/pwa/hosteldetails....
23  https://www.hostelworld.com/pwa/hosteldetails....
24  https://www.hostelworld.com/pwa/hosteldetails....
25  https://www.hostelworld.com/pwa/hosteldetails....
26  https://www.hostelworld.com/pwa/hosteldetails....
27  https://www.hostelworld.com/pwa/hosteldetails....
28  https://www.hostelworld.com/pwa/hosteldetails....
29  https://www.hostelworld.com/pwa/hosteldetails....
30  https://www.hostelworld.com/pwa/hosteldetails....
31  https://www.hostelworld.com/pwa/hosteldetails....
32  https://www.hostelworld.com/pwa/hosteldetails....

In [163]:
hostel_name=[]
distance_from_city_centre=[]
ratings=[] 
total_reviews=[]
privates_from_price=[] 
dorms_from_price=[]
facilities=[]
property_description=[]

In [164]:
for url in product_urls:
    driver.get(url)
    time.sleep(2)
    try:
        names=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/section/div[4]/div/div[1]/h1/div')
        hostel_name.append(names.text)
    except NoSuchElementException:
        hostel_name.append('-')
    try:
        distance=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/section/div[4]/div/div[1]/div/div')
        distance_from_city_centre.append(distance.text)
    except NoSuchElementException:
        distance_from_city_centre.append('-')
    try:
        rate=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/section/div[8]/div/div[1]/div[1]/div[1]')
        ratings.append(rate.text)
    except NoSuchElementException:
        ratings.append('-')    
    try:
        review=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/section/div[8]/div/div[1]/div[1]/div[2]/div[2]')
        total_reviews.append(review.text)
    except NoSuchElementException:
        total_reviews.append('-')
    try:
        private=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/section/div[10]/div/div/section/div/div/div[2]/div[1]/div[2]/div[1]/div[2]/div[1]/div/div[1]/div[2]/div[1]')
        privates_from_price.append(private.text)
    except NoSuchElementException:
        privates_from_price.append('-')  
    try:
        dorms=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/section/div[10]/div/div/section/div/div/div[2]/div[2]/div[2]/div[1]/div[2]/div[1]/div/div[1]/div[2]/div[1]')
        dorms_from_price.append(dorms.text)
    except NoSuchElementException:
        dorms_from_price.append('-') 
    try:
        faci=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/section/div[12]/div/ul/li[1]/ul')
        facilities.append(faci.text)
    except NoSuchElementException:
        facilities.append('-')    
    try:
        description=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/section/div[8]/div/div[2]/div[3]/div/div[2]')
        property_description.append(description.text)
    except NoSuchElementException:
        property_description.append('-')

In [165]:
print(len(hostel_name),len(distance_from_city_centre),len(ratings),len(total_reviews),len(privates_from_price),len(dorms_from_price),len(facilities),len(property_description))

33 33 33 33 33 33 33 33

In [171]:
import pandas as pd
df=pd.DataFrame({'hostel_name':hostel_name,'distance_from_city_sentre':distance_from_city_centre,'rating':ratings,'total_reviews':total_reviews,'private_from_price':privates_from_price,'dorms_from_price':dorms_from_price,'facilities':facilities,'property_description':property_description})
df

,hostel_name,distance_from_city_sentre,rating,total_reviews,private_from_price,dorms_from_price,facilities,property_description
0,Wombat's City Hostel London,"7 Dock Street, London, England",9.1,15961 Total Reviews,Rs12232.76,Rs3598.49,Linen Included Free City Maps Free WiFi Free I...,A safe haven in the middle of the metropolis: ...
1,Palmers Lodge - Swiss Cottage,"40 College Crescent, Swiss Cottage, London, En...",8.8,15992 Total Reviews,-,-,-,-
2,St Christopher's Village,"165 Borough High Street, London, England",7.8,12893 Total Reviews,-,-,Linen Included Free WiFi Free Internet Access,-
3,Wombat's City Hostel London,"7 Dock Street, London, England",9.1,15961 Total Reviews,-,-,Linen Included Free City Maps Free WiFi Free I...,A safe haven in the middle of the metropolis: ...
4,Palmers Lodge - Swiss Cottage,"40 College Crescent, Swiss Cottage, London, En...",8.8,15992 Total Reviews,-,-,-,-
5,-,-,-,-,-,-,-,-
6,NX London Hostel,"323 New Cross Road, London, England",8.9,2165 Total Reviews,-,Rs1421.56,Free Breakfast Linen Included Towels Included ...,Welcome to NX London Hostel!\n\nPLEASE READ IN...
7,Onefam Notting Hill,"63 Prince's Square, London, England",9.6,2621 Total Reviews,-,-,-,The perfect place for solo travelers to connec...
8,Urbany Hostel London,"48-49 Princes Square, Paddington, London, England",9.5,1137 Total Reviews,-,-,Linen Included Free WiFi,Welcome to Urbany Hostel London! Ideal for the...
9,Onefam Waterloo,"73 Lambeth Walk, London, London, England",9.6,160 Total Reviews,-,-,Linen Included Free WiFi Free Internet Access,Come join us at our newest Onefam location in ...
10,No.8 Seven Sisters,"618 Seven Sisters Rd, Seven Sisters, London, E...",7.8,4183 Total Reviews,-,-,Linen Included Free WiFi,"For Great Facilities, Comfort & Affordability ..."
11,Astor Hyde Park,"191 Queensgate, South Kensington, London, England",8.2,12338 Total Reviews,-,-,Linen Included Free City Maps Free WiFi Free I...,-
12,Safestay London Elephant & Castle,"144-152 Walworth Road, London, England",7.3,5288 Total Reviews,-,-,Linen Included Free WiFi,-
13,Astor Museum Inn,"27 Montague Street, Bloomsbury, London, England",8.4,9464 Total Reviews,-,-,Linen Included Free City Maps Free WiFi,-
14,No.8 Willesden Hostel London,"305 High Rd, Willesden, London, England",7.2,5209 Total Reviews,-,-,Linen Included Free WiFi,At No.8 we take pride in our Customer Service ...
15,Smart Hyde Park Inn Hostel,"48 - 50 Inverness Terrace, Bayswater, London, ...",7.8,6805 Total Reviews,-,-,-,Smart Hyde Park Inn Hostel is perfectly locate...
16,Smart Russell Square Hostel,"71 Guilford Street, London, England",7.5,10218 Total Reviews,-,-,-,-
17,Safestay London Kensington Holland Park,"Holland Park Ave, Holland Walk, London, England",6.9,1793 Total Reviews,-,-,Linen Included Free WiFi,Safestay Holland Park\n\nSafestay Holland Park...
18,Clink261,"261-265 Grays Inn Road, Kings Cross, London, E...",8.1,533 Total Reviews,-,-,Linen Included Free City Maps Free WiFi,-
19,Hostelle - women only hostel London,"458 Bethnal Green road, London, England",8.8,125 Total Reviews,-,-,Linen Included Free City Maps Free WiFi Free I...,Hostelle is the first and only all-women hoste...
20,Queen Elizabeth Chelsea,"58 Bagleys Lane, London, England",7.4,3697 Total Reviews,-,-,-,PLEASE NOTE WE ONLY ACCEPT GUESTS FROM THE AGE...
21,Prime Backpackers Angel,"333 City Road, 333 City Road, London, England",8.7,875 Total Reviews,-,-,Linen Included Free City Maps Towels Included ...,The hostel is housed in a historic building in...
22,YHA London Oxford Street,"14 Noel Street, Soho, W1F 8GJ, London, England",9.0,4704 Total Reviews,-,-,Linen Included Free WiFi,-
23,London Backpackers,"8/10 Queens Parade, Queens Road, Hendon Centra...",8.0,4569 Total Reviews,-,-,Linen Included Free City Maps Free WiFi Free I...,IMPORTANT NOTICE: \n\nThis hostel is for 18 - ...
24,Kabannas London St Pancras,"79-81 Euston Road, London, England",8.2,2981 Total Reviews,-,-,Linen Included Free City Maps Free WiFi,-
25,St Christopher's Hammersmith,"28, Hammersmith Broadway, Hammersmith, London,...",7.6,4397 Total Reviews,Rs1525.42,-,Linen Included Free City Maps Free WiFi Free I...,-
26,Astor Victoria,"73 Belgrave Road, Victoria, London, England",7.3,15106 Total Reviews,-,-,Linen Included Free City Maps Free WiFi Free I...,-
27,Astor Kensington,"45 Queensborough Terrace, Bayswater, London, E...",8.4,6597 Total Reviews,-,-,Linen Included Free City Maps Free WiFi,-
28,Phoenix Hostel,"6 Daventry Street, London, England",6.3,4629 Total Reviews,Rs1727.90,-,Linen Included Free City Maps Free WiFi Free I...,"The Phoenix Bar & Hostel, housed in a homely E..."
29,St Christopher's Camden,"48-50 Camden High Street, Camden NW1, London, ...",7.2,4141 Total Reviews,-,-,Linen Included Free City Maps Free WiFi Free I...,-
30,St Christopher's Inn - Liverpool Street,"52 Wilson Street, Finsbury, London, England",8.2,560 Total Reviews,-,-,Linen Included Free City Maps Free WiFi Free I...,Our Liverpool Street hostel is the newest of o...
31,St Christopher's Shepherds Bush,"Belushis Bar, 13-15 Shepherds Bush Green., Lon...",7.7,837 Total Reviews,Rs1487.65,-,Linen Included Free City Maps Free WiFi,-
32,YHA London St Pauls,"36 Carter Lane, EC4V 5AB, London, England",8.9,2119 Total Reviews,-,-,Linen Included Free City Maps Free WiFi,-